{% extends 'base.html' %}

{% block content %}

<header>Provide some information</header>
<p class="light">Enter the candidate LinkedIn username or profile url. GPTalent will load the publicly available information to generate a targeted message.</p>

<form class="form__group" id="form">
    <div>
        <input type="text" class="form__field" placeholder="https://www.linkedin.com/in/username" name="url-or-username" id="url-or-username"/>
        <label for="url-or-username" class="form__label">LinkedIn Url or username</label>
    </div>

    <div class="row position">
        <div>
            <input type="text" class="form__field" placeholder="Java Engineer" name="searched-position" id="searched-position"/>
            <label for="searched-position" class="form__label">Open position</label>
        </div>

        <div>
            <input type="url" class="form__field" placeholder="https://www.zuehlke.com/en/careers/technical-lead" name="searched-position-url" id="searched-position-url"/>
            <label for="searched-position-url" class="form__label">Position description URL</label>
        </div>
    </div>

    <div>
        <input type="text" class="form__field" placeholder="Talent Relations & Recruiting Specialist" name="requester-position" id="requester-position"/>
        <label for="requester-position" class="form__label">Your position</label>
    </div>

    <div>
        <input type="number" class="form__field" placeholder="5" value="5" name="number-of-paragraphs" id="number-of-paragraphs"/>
        <label for="number-of-paragraphs" class="form__label">Number of paragraphs</label>
    </div>

    <div class="row">
        <div>
            <div class="form__label">Tone:</div>
            <input type="radio" id="friendly" name="tone" value="friendly" checked>
            <label for="friendly" title="A recruiter may use a friendly tone to create a more casual and approachable atmosphere. This tone can help to build a positive rapport with the candidate and encourage open communication">Friendly</label>
            <br/>
            <input type="radio" id="professional" name="tone" value="professional">
            <label for="professional" title="This tone is formal and straightforward, conveying a sense of professionalism and business-like communication. Recruiters may use this tone to demonstrate that they take the hiring process seriously and that they expect the same level of professionalism from the candidate">Professional</label>
            <br/>
            <input type="radio" id="excited" name="tone" value="excited">
            <label for="excited" title="When a recruiter is particularly enthusiastic about a candidate or the job opportunity, they may use an excited tone in their message. This can help to convey their enthusiasm and passion for the position and the company">Excited</label>
            <br/>
            <input type="radio" id="persuasive" name="tone" value="persuasive">
            <label for="persuasive" title="If a recruiter is trying to convince a candidate to apply for a job or consider a job offer, they may use a persuasive tone. This can involve highlighting the benefits of the job, the company culture, or the career growth opportunities">Persuasive</label>
            <br/>
            <input type="radio" id="humorous" name="tone" value="humorous">
            <label for="humorous" title="If the company has a fun or lighthearted culture, a recruiter may use a humorous tone in their message to convey the company's personality and make a connection with the candidate. However, it's important to use humor carefully and in a way that is appropriate and respectful">Humorous</label>
        </div>

        <div>
            <div class="form__label">Location:</div>
            <input type="radio" id="hong-kong" name="location" value="Hong Kong" checked>
            <label for="hong-kong">Hong Kong</label>
            <br/>
            <input type="radio" id="singapore" name="location" value="Singapore">
            <label for="singapore">Singapore</label>
            <br/>
            <input type="radio" id="vietnam" name="location" value="Vietnam">
            <label for="vietnam">Vietnam</label>
        </div>
    </div>

    <div>
        <label class="form__label" for="benefits">Benefits:</label><br/>
        <textarea id="benefits" name="benefits" rows="10">
Work from anywhere for a max of 3 months per year
Work from another Zuhlke office for a max of 2 months per year, with flight & accommodation sponsored
Grow with Us Allowance to reward loyalty
Extra insurance reimbursement on top on the Life & Medical insurance we provided
Flexibility to work from home
Dedicated budget for Training & Development</textarea>
    </div>

    <div class="mainBtnContainer">
        <button type="submit" id="submit-button" class="mainBtn" disabled>
            Generate the message!
        </button>
    </div>
</form>

<div id="result-container">
</div>

<script>
    const form = document.querySelector('#form');
    const submitButton = document.querySelector('#submit-button');
    const resultContainer = document.querySelector("#result-container");
    const urlOrUsernameField = document.querySelector('#url-or-username');

    function displayLoading() {
        submitButton.disabled = true;
        submitButton.innerHTML = "<i class='fa fa-spinner fa-spin'></i> This can take up to 30 seconds";
    }

    function hideLoading() {
        submitButton.disabled = false;
        document.getElementById("submit-button").innerHTML = "Generate the message!";
    }

    urlOrUsernameField.addEventListener('input', () => submitButton.disabled = urlOrUsernameField.value.trim() === "");

    submitButton.addEventListener('click', function(event) {
        displayLoading();
        event.preventDefault();

        const data = new FormData(form);

        fetch('/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(data))
            })
            .then(response => response.json())
            .then(data => {
                hideLoading();
                resultContainer.innerHTML = data + resultContainer.innerHTML;
                setTimeout(() => resultContainer.scrollIntoView(), 500);
            })
            .catch(error => {
                hideLoading();
                alert('Error: ' + error);
            });
        return false;
    });
  </script>

{% endblock %}