{% extends 'base.html' %}

{% block content %}

    <header class="landing-page-header"><span class="highlight">GPTalent:</span> Surprise yourself with AI-Generated Messages</header>
    <p class="light">This tool uses state-of-the-art natural language models like ChatGPT to generate highly customized messages based on public LinkedIn profiles. Just enter a LinkedIn URL or username and generate great messages.</p>

    <div class="loginBtnContainer">
        <a href="/login">
            <button class="image-button"></button>
        </a>
    </div>

{% endblock %}